<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="hello.ashx" verb="*" type="CustomHandlersModules.CustomHandlers.HelloHandler"/>
      <add path="hello.axd" verb="*" type="CustomHandlersModules.CustomHandlers.HelloHandler2"/>
    </httpHandlers>
  </system.web>

  <system.webServer>
    <handlers>
      <add name="helloASHX" path="hello.ashx" preCondition="integratedMode" verb="*" type="CustomHandlersModules.CustomHandlers.HelloHandler"/>
      <add name="helloAXD" path="hello.axd" preCondition="integratedMode" verb="*" type="CustomHandlersModules.CustomHandlers.HelloHandler2"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
